.nav__wrap {
    gap: 1.5rem;

.nav__link {
        padding-left: 10px;
        transition: all 0.2s ease;

        &:hover {
            text-decoration: none;
            padding-left: 15px;
        }
    }
}

.nav__link-indicator {
    inset-inline-start: -10px
}

.app-header {
    margin-bottom: 4rem;
}

        